.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;

  &-big {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    width: 100%;
  }

  &-medium {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    width: 100%;
  }
}
